<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Photo gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="gotoHome()">
    <ion-icon name="person-circle-outline"></ion-icon>
   User page
  </ion-tab-button>
  <ion-tab-button (click)="gotoUpload()">
  <ion-icon name="camera-outline"></ion-icon>
          Add receipt
  </ion-tab-button>
  <ion-tab-button (click)="gotoGallery()">
    <ion-icon name="images-outline"></ion-icon>
    Gallery
  </ion-tab-button>
  <ion-tab-button (click)="gotoReciptList()">
    <ion-icon name="receipt-outline"></ion-icon>
          My receipt
  </ion-tab-button>
</ion-tab-bar>
