<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">
  <div class="loginContainer">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
        <ion-input labelPlacement="floating" placeholder="Username" [(ngModel)]="username">
          <div slot="label">Username <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
        <ion-input type="password" labelPlacement="floating"  placeholder="password" [(ngModel)]="password">
          <div slot="label">Password <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-col>
      <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
        <ion-button shape="round" fill="outline" color="light" color="primary" (click)="login()">
          Accedi con il Browser
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
