<ion-header>
  <ion-toolbar>
    <ion-title>Ricevute valide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="receipts.length > 0; else noReceipts">
    <ion-item *ngFor="let receipt of receipts">
    <div>
      <h2> Ristorante: {{ receipt.restaurantName }}</h2>
      <p>📅 Data: {{ receipt.receiptDate | date:'dd/MM/yyyy HH:mm' }}</p>
      <p>📍 Indirizzo: {{ receipt.address }}</p>
      <p>💰 Totale: €{{ receipt.totalSpent }}</p>
    </div>
  </ion-item>
</ion-list>

<ng-template #noReceipts>
  <p>Nessuna ricevuta trovata.</p>
</ng-template>

</ion-content>




<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="gotoHome()">
    <ion-icon name="person-circle-outline"></ion-icon>
   User page
  </ion-tab-button>
  <ion-tab-button (click)="gotoUpload()">
  <ion-icon name="camera-outline"></ion-icon>
          Add receipt
  </ion-tab-button>
  <ion-tab-button (click)="gotoReciptList()">
    <ion-icon name="receipt-outline"></ion-icon>
          My receipt
  </ion-tab-button>
</ion-tab-bar>

