<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scansiona scontrino
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centerBox">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
        <ion-col>
  <div class="containerPhoto">
    <ion-grid class="containerBox">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-icon size="large" aria-hidden="true" name="camera-outline"></ion-icon>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button style="width: 200px" shape="round" color="light" (click)="capturePhoto()">Scatta Foto</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-col>
<ion-col></ion-col>
</ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
  <div class="containerPhoto">
    <ion-grid class="containerBox">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-icon size="large" aria-hidden="true" name="images-outline"></ion-icon>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button style="width: 200px" shape="round" color="light" (click)="selectPhoto()">Carica dalla Galleria</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-col>
<ion-col></ion-col>
</ion-row>
</ion-grid>
</div>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="gotoHome()">
    <ion-icon name="person-circle-outline"></ion-icon>
   User page
  </ion-tab-button>
  <ion-tab-button (click)="gotoUpload()">
  <ion-icon name="camera-outline"></ion-icon>
          Add receipt
  </ion-tab-button>
  <ion-tab-button (click)="gotoReciptList()">
    <ion-icon name="receipt-outline"></ion-icon>
          My receipt
  </ion-tab-button>
</ion-tab-bar>
